html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}

.bg-img {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/GridBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    font-family: 'Londrina Shadow', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}

.min-height {
    min-height: 85vh;
}